* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 2.2rem;
}

h1 {
  font-size: 3rem;
  color: white;
  font-weight: 400;
}

.row {
  background-color: dimgray;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

ul {
  background-color: gray;
  color: white;
  padding: 0.8rem 0;
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
  opacity: 76%;
  cursor: pointer;
}

.title-row {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
  border: 2px solid lightgray;
}

h2 {
  font-weight: 500;
}

.preview {
  margin: 0.8rem 0;
  padding: 1.4rem;
  border: 2px solid lightgray;
  font-weight: 500;
}

.post-list {
  padding: 2rem 1rem;
  border: 2px solid lightgray;
}

.post-list p {
  padding: 0.8rem 0;
  border-bottom: 2px solid lightgray;
}
